@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   /* width */
    .scroll::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    /* Track */
    .scroll::-webkit-scrollbar-track {
        @apply bg-gray-100 rounded-[10px];
    }

    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        @apply rounded-[10px] bg-purple-600
    }

    /* Handle on hover */
    .scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-purple-700 cursor-pointer
    }
}

.whitespace-pre-line {
  white-space: pre-line;
}

.custom-bg-auth {
  background-image: url('./assets/images/bgauth.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;   
  width: 100%;    
  position: relative; 
  
  /* Overlay */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: overlay;
  }
}